<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sweet Treats Bakery - About Us</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <h1>Sweet Treats Bakery</h1>
    </header>
  <main>
    <h2>About Sweet Treats</h2>
    <p>%(Describe your bakery here)  </p>
    
    <img src="<%- imageURL %>  " alt="Sweet Treats Bakery">
  </main>
  <footer>
    <p>&copy; 2024 Sweet Treats Bakery</p>
  </footer>
</body>
</html>
