<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Joshua products - About Us</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                line-height: 1.6;
                margin: 0;
                padding: 0;
                background-color: #f9f9f9;
            }
            header {
                background-color: #ffcc80;
                padding: 10px;
                text-align: center;
            }
            header h1 {
                margin: 0;
                font-size: 2.5em;
            }
            main {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 90vh;
            }
            .about {
                max-width: 800px;
                margin:  auto;
                padding: 20px;
                background-color: #ffffff;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                border-radius: 5px;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                max-width: 90%;
                position: relative;
            }
            @media (max-width: 962px) {
                .about {
                    flex-direction: column;
                    align-items: center;
                    font-size: 0.9em;
                }
                .about img {
                    width: 80%;
                }
            }
            .about h2 {
                font-size: 2em;
                margin-top: 0;
                margin-bottom: 5px;
            }
            .about p {
                font-size: 1.2em;
                margin-left: 20px;
                margin-top: 0;
                margin-bottom: 40px;
            }
            .about img {
                max-width: 100%;
                height: auto;
                border-radius: 5px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }
            footer {
                text-align: center;
                padding: 10px;
                background-color: #ffcc80;
                position: fixed;
                bottom: 0;
                width: 100%;
            }
            .infos {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <header>
            <h1>Joshua products</h1>
        </header>
        <main>
            <div class="about" >
            <img
                src="https://dz.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/44/5265/1.jpg?5667"
                alt="Joshua products"
                width="300px"
                style="border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0,
                    0.1); align-self: center;"
            />
            <div class="infos">
                <h2>About Joshua products</h2>
                <p>
                    Welcome to Joshua products, your premier destination for
                    cutting-edge technology. We specialize in providing the
                    latest gadgets, from powerful laptops to innovative smart
                    home devices. Our mission is to offer top-notch customer
                    service and quality products that enhance your digital
                    lifestyle. Whether you're a tech enthusiast or a casual
                    user, Joshua products is your trusted partner in technology.
                    Explore our selection and discover 
                    tech experience today.
                </p>
            </div>
            </div>
        </main>
        <footer>
            <p>&copy; 2024 Joshua products</p>
        </footer>
    </body>
</html>

